# Ignore files
.DS_Store
.env
*.cache

# Ignore directories
vendor/
public/assets/avatars/*
public/assets/files/*/*
storage/*/*

# Keep empty directories
!public/assets/avatars/.gitkeep
!public/assets/files/.gitkeep
!.gitkeep
